.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    list-style: none;
}

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.card_large {
    width: 100%;
}

.card__img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 140%;
    border-radius: 4px;
    align-self: center;
    margin-bottom: 5px;
}

.card__title {
    font-weight: bold;
    margin-bottom: 5px;
}

.card__overview {
    margin: 0 10px 5px;
}

.hr-14 {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
    width: 100%;
}

.card__text {
    display: flex;
    margin-bottom: 7px;
}

.label {
    width: 60px;
}